<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17416467652-9t9qa1jm4r73348kkapp4icugikil09f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17416467652-9t9qa1jm4r73348kkapp4icugikil09f</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ4-rgtuGKrRJDOg9I1rJPGrIH2o2vQ8o</string>
	<key>GCM_SENDER_ID</key>
	<string>17416467652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poisedmentaltraining.app</string>
	<key>PROJECT_ID</key>
	<string>poised-mental-training</string>
	<key>STORAGE_BUCKET</key>
	<string>poised-mental-training.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17416467652:ios:5cb11319877d754642c591</string>
	<key>DATABASE_URL</key>
	<string>https://poised-mental-training.firebaseio.com</string>
</dict>
</plist>